{% extends "auctions/layout.html" %}

{% block title %}
  Auctions-{{listing.title}}
{% endblock %}

{% block body %}
  {% if message %}
    <div class="alert alert-{{alert_color}} col-md-10 col-lg-10" role="alert">   
        <h3>{{message}}</h3>
    </div> 
  {% endif %}
  <div class="card" style="max-width:100vw">
    <div class="row g-0">
      <div class=" col-5">
        <img src="{{listing.img}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title-start">{{title}}</h2>
          <p class="card-text-start">{{listing.description}}</p>
          <p class="card-text price">₹{{listing.curr_bid}}</p>
        </div>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    {% if not same %}
    <form action="{% url 'listing' listing.id %}" method="post">
      {% csrf_token %}
      {% if wl %}
        <button style="margin-top:10px ;" name="watch_list" value="1" class="btn btn-danger">Remove from watchlist</button>
      {% elif is_active %}
        <button style="margin-top:10px ;" name="watch_list" value="1" class="btn btn-success">Watchlist</button>
      {% endif %}
    </form>
    {% elif same and is_active %}
    <form action="{% url 'listing' listing.id %}" method="post">
      {% csrf_token %}
      <button style="margin-top:10px ;" name="close" value="1" class="btn btn-danger">Close listing</button>
    </form>
      {% endif %}
  {% endif %}
  <h4 style="margin-top:20px;">Details:</h4>
  <div style="margin-left:20px;">
    <h5>Sold by-{{listing.user}}</h5>
    <h5>Category-{{listing.category}}</h5>  
    <h5>
      Highest Bidder-
      {% if bid %}
        {% if bid.user == request.user %}
          You are the highest bidder
        {% else %}
          {{bid.user}}
        {% endif %}
      {% else %}
        {{bid}}
      {% endif %}
    </h5>  
  </div>
  {% if user.is_authenticated and not same and is_active %}
    <h4 style="margin-top:20px;">Place your bid here:</h4>
    <form style="margin-left:20px;" action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ form_bid }}
        <button style="margin-top:10px ;" type="submit" class="btn btn-secondary">Bid</button>
    </form>
  {% endif %}
  <h4 style="margin-top:20px;" >User Comments:</h4>
  <ul style="margin-left:20px;" class="list-group list-group-flush">
    {% for comment in comments %}
      <li class="list-group-item">
        <b>{{comment.user}}</b>
        <p>{{comment.comment}}</p>
      </li>
    {% empty %}
      <h5>No comments</h5>
    {% endfor %}
  </ul>
  {% if user.is_authenticated and is_active %}
    <h4 style="margin-top:20px;">Comment here:</h4>
    <form style="margin-left:20px;" action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ form_comment }}
        <button style="margin-top:10px ;" type="submit" class="btn btn-warning">Comment</button>
    </form>
  {% elif is_active %}
    <h4 style="margin-top:20px;">To bid and comment please <a href="{% url 'login' %}">login</a>.</h4>
  {% endif %} 
{% endblock %}