{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}
{% block body %}
    {% if exists %}
        <div class="alert alert-warning col-md-10 col-lg-10" role="alert">   
            <h3>"{{title}}" page already exists.</h3>
        </div> 
    {% elif edit %}
        <h3>Editing {{title}}...</h3>
    {% endif %}
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button style="margin-top:10px ;" type="submit" class="btn btn-primary">Submit</button>
    </form> 
{% endblock %}
